<!-- Include Header Partial -->
<%- include('partials/header') %>

<!-- About Section -->
<section id="about" class="h-screen py-20 px-4 flex flex-col items-center justify-center">
    <div class="max-w-5xl mx-auto text-center">
        <!-- Heading -->
        <h2 class="text-3xl mb-10">About Me</h2>
        
        <!-- Profile Image -->
        <img src="/images/profile.png" alt="Your Image" class="mb-8 w-80 mx-auto shadow-md rounded-md">
        
        <!-- Personal Description -->
        <p class="text-xl mb-8">With over 2 years of experience as a Software Engineer, I specialize in full-stack development, QA automation, and solving complex problems. I've successfully delivered multiple projects and have a passion for continuous learning and development.</p>
        
        <!-- Resume Download Button -->
        <a href="/Shivam_Manchanda_Resume.pdf" class="bg-blue-600 text-white px-6 py-4 rounded-full hover:bg-blue-500 transition-all">Download My Resume</a>
    </div>
</section>

<!-- Include Footer Partial -->
<%- include('partials/footer') %>
