<!-- Include Header Partial -->
<%- include('partials/header') %>

<!-- Home Section with Hero Image and Description -->
<div id="home" class="bg-white h-screen flex items-center">
    
    <!-- Hero Image Container -->
    <div class="flex-1 flex justify-center items-center">
        <img src="/images/hero.jpeg" alt="Vector Image" class="w-11/12 h-auto">
    </div>
    
    <!-- Description Container -->
    <div class="flex-1 text-center py-12 pr-24 flex flex-col items-center justify-center">
        <!-- Name Heading -->
        <h1 class="text-7xl mb-4 font-bold text-blue-700">Shivam Manchanda</h1>
        
        <!-- Role Description -->
        <p class="text-3xl mb-8 text-gray-600">Full Stack Developer | Problem Solver</p>
        
        <!-- Brief Introduction -->
        <p class="text-xl mb-12 text-gray-600 max-w-md">A passion for coding, and a commitment to excellence. Dive in to discover my journey, skills, and the code behind the magic.</p>
        
        <!-- Navigation Button to About Page -->
        <a href="/about" class="bg-blue-700 text-white px-8 py-3 rounded-full shadow-md hover:bg-blue-500 transition-all">Learn More About Me</a>
    </div>
    
</div>

<!-- Include Footer Partial -->
<%- include('partials/footer') %>
