
<%- include('partials/header') %>
<section class="py-20 px-4 bg-gray-100">
    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl mb-10">Frontend</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
            <!-- HTML, CSS Card -->
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/htmlcss.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:100%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">HTML, CSS</span>
                </div>
            </div>
            
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/tailwind.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:80%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Tailwind CSS</span>
                </div>
            </div>

            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/jsts.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:70%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">JavaScript, TypeScript</span>
                </div>
            </div>
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/reactjs.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:80%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">React</span>
                </div>
            </div>

            
            
            

        </div>
    </div>

    <br><br><br>

    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl mb-10">Backend</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
            <!-- HTML, CSS Card -->
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/nodejs.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:90%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Node JS</span>
                </div>
            </div>
            
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/express.jpeg">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:80%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Express JS</span>
                </div>
            </div>

            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/denojs.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:80%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Deno JS</span>
                </div>
            </div>
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/php.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:90%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">PHP</span>
                </div>
            </div>

            
            
            

        </div>
    </div>

    <br><br><br>

    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl mb-10">Database</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
            <!-- HTML, CSS Card -->
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/mysql.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:90%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">MySQL</span>
                </div>
            </div>
            
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/mongo.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:80%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Mongo DB</span>
                </div>
            </div>

            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/redis.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:90%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Redis</span>
                </div>
            </div>
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/postgres.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:100%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Postgres</span>
                </div>
            </div>

            
            
            

        </div>
    </div>

    <br><br><br>

    <div class="max-w-6xl mx-auto text-center">
        <h2 class="text-3xl mb-10">DevOps</h2>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12">
            <!-- HTML, CSS Card -->
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/docker.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:90%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Docker</span>
                </div>
            </div>
            
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/kubernetes.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:80%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Kubernetes</span>
                </div>
            </div>

            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/git.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:80%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Git</span>
                </div>
            </div>
            <div class="flex flex-col gap-0">
                <div class="rounded-lg overflow-hidden">
                <a target="_blank" href="/">
                    <div class="relative aspect-video overflow-hidden">
                        <img alt="HTML, CSS" class="object-cover w-full h-auto" src="/images/jenkins.webp">
                    </div>
                </a>
                <div class="bg-gray-200 h-2 ">
                    <div class="bg-green-500 h-2" style="width:90%;"></div>
                </div>
                </div>
                <div class="flex items-center mb-4 mt-2">
                    <span class="text-xl">Jenkins</span>
                </div>
            </div>

            
            
            

        </div>
    </div>

    
</section>
<%- include('partials/footer') %>
